h6 {
  font-size: 16px;
  margin: 16px 0 8px 0;
  font-weight: 700;
  color: #323132;
}

label {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: inherit;
  color: #206095;
  border: 0;
  margin: 25px 0 0 0;
}

.chosen-container {
  margin-top: 10px;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

path{
  fill:none;
}

.x text,.y text{
  font-size:14px;
  fill:#666;
}

.y line,.x line{
  stroke:#ccc;
  stroke-width:1px;
  shape-rendering:crispEdges;
}

#legend{
  display:flex;
}

@media only screen and (max-width:400px) {
  #legend{
    flex-direction:column;
  }
}
.legenditem{
  display:flex;
  margin-right:1em;
}

.square{
  margin-top:0.55em;
  margin-right:0.5em;
  width:30px;
  height:5px;
}

#dropdown{
  margin-bottom:1em
}
