<!DOCTYPE html>
<html lang="en">

<head>
  <!-- What is this line doing? It retrives the open sans font family with weights 400 and 700? -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

  <!-- What is this doing? Is it actually necessary? -->
  <!-- <meta name="description" content="ONS chart">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- Import css -->
  <link rel="stylesheet" href="../lib/globalStyle.css" />
  <link rel="stylesheet" href="style.css"

</head>

<body>

  <!-- In simple static charts, hide the chart from screen readers but provide a written summary in a screenreadertext tag -->
  <h5 class="visuallyhidden" id="screenreadertext">The chart canvas is hidden from screen readers. The main message is summarised by the chart title and the data behind the chart is available to download below.</h5>
  <div id="graphic" aria-hidden="true"></div>
  <h6 id="source"></h6>
  <p>This is a template</p>


    <script src="https://cdn.ons.gov.uk/vendor/d3/4.2.7/d3.min.js" type="text/javascript"></script>
    <script src="../lib/modernizr.svg.min.js" type="text/javascript"></script>
    <script src="https://cdn.ons.gov.uk/vendor/pym/1.3.2/pym.min.js" type="text/javascript"></script>
    <script src="../lib/d3v4jetpack.js" type="text/javascript"></script>
    <script src="config.js" type="text/javascript"></script>
    <script src="script.js" type="text/javascript"></script>

    <noscript>
     <p>Your browser does not support JavaScript. If you're able to please enable Javascript to view the chart.</p>
    </noscript>

</body>
</html>
